In [1]:
import gym
import pandas as pd

In [6]:
env=gym.make("FrozenLake-v0")

In [7]:
def random_policy():
    return env.action_space.sample()

In [8]:
V={}
for s in range (env.observation_space.n):
    V[s]=0.0

In [9]:
V

{0: 0.0,
 1: 0.0,
 2: 0.0,
 3: 0.0,
 4: 0.0,
 5: 0.0,
 6: 0.0,
 7: 0.0,
 8: 0.0,
 9: 0.0,
 10: 0.0,
 11: 0.0,
 12: 0.0,
 13: 0.0,
 14: 0.0,
 15: 0.0}

In [13]:
alpha=0.85 #Learning rate
gamma=0.90 #Discount factor

In [14]:
num_episodes=50000
num_timesteps=1000

In [15]:
for i in range(num_episodes):
    s=env.reset()
    
    for t in range(num_timesteps):
        action=random_policy()
        s_,r,done,_= env.step(action)
        
        V[s]+=alpha * (r+gamma*V[s_] - V[s])
        s=s_
        
        if done:
            break

In [16]:
V

{0: 0.00035013888878988425,
 1: 8.568266803819482e-06,
 2: 5.5077198644338556e-05,
 3: 3.3397370176026312e-06,
 4: 6.83786886210273e-05,
 5: 0.0,
 6: 1.1235384632403425e-05,
 7: 0.0,
 8: 0.01420870006175225,
 9: 0.017690070936035612,
 10: 0.10186862347410153,
 11: 0.0,
 12: 0.0,
 13: 0.049072933195320606,
 14: 0.20800838686115947,
 15: 0.0}

In [25]:
df=pd.DataFrame(list(V.items()),columns=['state','value'])

In [26]:
df

    state     value
0       0  0.000350
1       1  0.000009
2       2  0.000055
3       3  0.000003
4       4  0.000068
5       5  0.000000
6       6  0.000011
7       7  0.000000
8       8  0.014209
9       9  0.017690
10     10  0.101869
11     11  0.000000
12     12  0.000000
13     13  0.049073
14     14  0.208008
15     15  0.000000