In [1]:
import gym
import pandas as pd
from collections import defaultdict

In [2]:
env=gym.make("Blackjack-v0")

In [3]:
def policy(state):
    return 0 if state[0]>19 else 1

In [4]:
state=env.reset()

In [5]:
policy(state)

1

In [6]:
env.step(1)

((24, 5, False), -1.0, True, {})

In [7]:
num_timesteps=100
def generate_episode(policy):
    episode=[]
    state=env.reset()
    
    for t in range(num_timesteps):
        action=policy(state)
        next_state,reward,done,info =env.step(action)
        episode.append((state,action,reward))
        
        if done:
            break
        state=next_state
        
    return episode

In [8]:
print(generate_episode(policy))

[((16, 10, False), 1, -1.0)]

In [9]:
num_iterations=50000
total_return=defaultdict(float)
N=defaultdict(int)

for i in range(num_iterations):
    episode=generate_episode(policy)
    states,actions,rewards=zip(*episode)

    for t,state in enumerate(states):
        if state not in states[0:t]:
            R=(sum(rewards[t:]))
            total_return[state]=total_return[state]+R
            N[state]=N[state]+1
        
total_return=pd.DataFrame(total_return.items(),columns=['State','total_return'])
N=pd.DataFrame(N.items(),columns=['State','N'])
df=pd.merge(total_return,N,on="State")
df.head(10)

             State  total_return     N
0   (17, 4, False)        -376.0   518
1   (20, 4, False)         523.0   756
2    (8, 8, False)         -67.0   128
3   (10, 8, False)          26.0   197
4   (20, 8, False)         598.0   747
5  (13, 10, False)       -1144.0  1848
6  (16, 10, False)       -1368.0  2000
7   (16, 6, False)        -352.0   512
8   (15, 1, False)        -352.0   506
9   (19, 1, False)        -483.0   584

In [10]:
df['value']=df['total_return']/df['N']

In [11]:
df.head(10)

             State  total_return     N     value
0   (17, 4, False)        -376.0   518 -0.725869
1   (20, 4, False)         523.0   756  0.691799
2    (8, 8, False)         -67.0   128 -0.523438
3   (10, 8, False)          26.0   197  0.131980
4   (20, 8, False)         598.0   747  0.800535
5  (13, 10, False)       -1144.0  1848 -0.619048
6  (16, 10, False)       -1368.0  2000 -0.684000
7   (16, 6, False)        -352.0   512 -0.687500
8   (15, 1, False)        -352.0   506 -0.695652
9   (19, 1, False)        -483.0   584 -0.827055

In [12]:
df[df['State']==(21,9,False)]['value'].values

array([0.94344473])

In [13]:
df[df['State']==(5,8,False)]['value'].values

array([-0.28888889])

In [26]:
'''

#Calculation using Incremental Mean Need to understand more
num_iterations=50000
total_return=defaultdict(float)
N=defaultdict(int)
value_state=[]

for i in range(num_iterations):
    episode=generate_episode(policy)
    states,actions,rewards=zip(*episode)

    for t,state in enumerate(states):
        if state not in states[0:t]:
            R=(sum(rewards[t:]))
            total_return[state]=total_return[state]+R
            N[state]=N[state]+1
            value_state[state]=total_return[state][0]+(1/(N[state])*(R-total_return[state][0]))   
'''

'\n\n#Calculation using Incremental Mean Need to understand more\nnum_iterations=50000\ntotal_return=defaultdict(float)\nN=defaultdict(int)\nvalue_state=[]\n\nfor i in range(num_iterations):\n    episode=generate_episode(policy)\n    states,actions,rewards=zip(*episode)\n\n    for t,state in enumerate(states):\n        if state not in states[0:t]:\n            R=(sum(rewards[t:]))\n            total_return[state]=total_return[state]+R\n            N[state]=N[state]+1\n            value_state[state]=total_return[state][0]+(1/(N[state])*(R-total_return[state][0]))   \n            '